---
# MODULES
#modules:
#  assembly: true # 
#  amr_arg: true # 
#  build_consensus: false # Perform a subsampling before tree (dafault: false)


# MY ENVS
envs:
  abricate: "envs/abricate.yaml" # Abricate env
  kraken2: "envs/kraken2.yaml" # Kraken2 env
  nanoplot: "envs/nanoplot.yaml" # NanoPlot env
  porechop: "envs/porechop.yaml" # Porechop env
  medaka: "envs/medaka.yaml" # Medaka env
  minimap2: "envs/minimap2.yaml" # Minimap2 env
  flye: "envs/flye.yaml" # Flye env
  bcftools: "envs/bcftools.yaml" # BCFtools env
  python_plot: "envs/python_plot.yaml" # Python env
  bracken: "envs/bracken.yaml" # Bracken env
  host_depletion: "envs/host_depletion.yaml" # Host depletion env
  rgi: "envs/rgi.yaml"
  dag: "envs/dag.yaml"
  multiqc: "envs/multiqc.yaml"

# MY SAMPLES
samples_id: # choose samples to run the pipeline, available options
 # - CMC_CLY
 # - CMC_MNR
 # - CMC_MTM
  - CMC_BKN
 # - HI01A
 # - HI02A
 # - HI03A
 # - HI04A
 # - HI05A
 # - HI07A
 # - HI09B
 # - HI12B
 # - HI14B
 # - HI15B
 # - HI16B
 # - HI17B

######################################
# GLOBAL RESOURCES 
###################
resources:
  threads: 32
  memory: 180000  # Garde une petite marge sur tes 190 Go
  tmp_dir: "/data/armel/tmp"

# --- Chemins des bases de données ---
kraken_db: "/data/armel/mythesis-data/db/my_k2_db"

# --- Kraaken2 Params ---
kraken_threads: 32
kraken_confidence: 0.1

# --- Bracken Params ---

bracken_read_len: 2500
bracken_level: "S"  # S=Espèce, G=Genre, F=Famille

# Paramètres RGI
rgi:
  min_identity: 90
  min_coverage: 80
  model_types:
    - "protein homolog model"
    - "protein variant model"
    - "rRNA gene variant model"
  
# Colomn to keep
  columns_to_keep:
    # Identifiants
    - "orf_id"
    - "contig"
    
    # resistance gene
    - "best_hit_aro"
    - "aro"
    
    # Quality
    - "best_identities"
    - "percentage_length_of_reference_sequence"
    
    # Fonctionnal classification 
    - "drug_class"
    - "resistance_mechanism"
    - "amr_gene_family"
    
    #Others
    - "model_type"
    # - "snps_in_best_hit_aro"
    # - "start"
    # - "stop"
    # - "strand"
